name: "Main workflow"
on:
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      CI_JOB_NUMBER: 1
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js from .nvmrc
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - run: yarn install
      - run: yarn lint-test

  build:
    runs-on: ubuntu-latest
    env:
      CI_JOB_NUMBER: 2
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js from .nvmrc
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - run: yarn install
      - run: yarn build
